body {
  overflow: hidden;
  background-color: #848871;
}
 .formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  overflow: hidden;
 
   .loginForm {
    padding: 20px 90px;
    margin-left: -60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
     .logo {
      color: #afb4ad;
      font-weight: bold;
      font-size: 34px;
    }
     form {
      display: flex;
      flex-direction: column;
      gap: 5px;
       input {
        padding: 60px 80px 0px;
        border: none;
        border-bottom: 2px solid white;
        background-color: transparent;
        font-size: 20px;
         &::placeholder {
          color: white;
          font-weight: bolder;
          font-size: 20px;
        }
         &:focus {
          outline: none;
        }
      }
       button {
        background-color: #262b15;
        color: white;
        padding: 17px;
        font-weight: bold;
        border-bottom: none;
        border-radius: 90px;
        margin-top: 35px;
        cursor: pointer;
       
   
    }
     p {
      color: rgb(234, 229, 222);
      font-size: 12px;
      margin-top: 10px;
      button {
        background-color: transparent;
        color: #464b37; 
        padding: 10px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}
label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 15px;
  img{
      width: 35px;
  }
}


.work{
  background-color: transparent;
  button{background-color: transparent; border: none; outline: none;}
}


 }
